<h1>All The Great Ideas That Come Out Of My Head</h1>

<h3>Add a new idea!</h3>
<%= form_tag('/api/v1/ideas', remote: true) do %>
  <%= text_field_tag 'title', nil, placeholder: 'Title' %>
  <%= text_field_tag 'body', nil, placeholder: 'Body' %>
  <%= button_tag "Save", type: 'button', onclick: 'saveIdea();' %>
<% end %>

<div id="ideas" class="ideas">
</div>
